:root {
    --white: #fff;
    --light: #F7FFF7;
    --medium: #4ECDC4;
    --dark: #1A535C;
    --black: #04100F;
    --danger: #FF6B6B;
    --warning: #FFE66D;
}

html {
    box-sizing: border-box;
}

body {
    background-color: var(--light);
    margin: 0;
    padding: 0;
    color: var(--dark);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
}

#app {
    padding: 30px;
    height: 100%;
    box-sizing: border-box;
}

.hidden {
    display: none!important;
}

#toast {
    position: sticky;
    top: 0;
    background-color: var(--warning);
    min-height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
}

#toast-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#toast-info p {
    margin: 0;
}

#toast.error {
    background-color: var(--danger);
    color: var(--light);
}

#toast-action {
    align-self: flex-start;
}

#toast-action button {
    background-color: transparent;
    border: 0;
    color: inherit
}

#app button:hover,
#toast button:hover {
    cursor: pointer;
}

.user-card {
    background-color: var(--white);
    border-radius: 10px;
    width: 200px;
    height: 250px;
    box-shadow: 1px 1px 15px var(--dark);
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#search {
    padding-top: 30px;
}

#search-result {
    margin-top: 30px;
}

#search-result .user-card {
    margin: auto;
}

.user-card-avatar {
    height: 50%;
    border-radius: 50%;
}

#search-form {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: flex-end;
}

#app form label {
    transform: translate(10px, -10px);
}

#app form input {
    border: none;
    border-radius: 20px;
    padding: 12px 30px;
    box-shadow: 1px 1px 5px var(--dark);
    box-sizing: border-box;
}

#app form input[type="color"] {
    height: 40px;
    width: 80px;
    padding: 8px 18px;
    background-color: var(--white);
}

#app form input[type="color"]:hover {
    cursor: pointer;
}

#app form button {
    margin-left: 10px;
    height: fit-content;
    width: fit-content;
}

#app form .form-separator {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 30px;
}

#app button {
    border: none;
    color: var(--dark);
    background-color: var(--medium);
    border-radius: 20px;
    padding: 12px;
}

#app button.btn-icon {
    background-color: transparent;
}

#app button.btn-icon img {
    height: 30px;
    background-color: var(--medium);
}

#editor {
    height: 100%;
}

#edit-canvas {
    height: 60%;
    background-color: white;
    box-shadow: 1px 1px 15px var(--dark);
    border-radius: 20px;
    padding: 10px 20px;
}

#edit-header {
    margin-bottom: 30px;
}

#edit-canvas-container {
    position: relative;
    width: 100%;
    /* 16:9 aspect ratio */
    padding-top: 56.25%;
}

#edit-canvas {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}