<div id="edit-header">
    <button id="edit-back-btn" title="Go to previous page">Go Back Icon</button>
</div>
<form id="edit-form">
    <div class="form-separator">
        <label id="edit-text-label" class="edit-label">¡Personaliza el texto de tu kudo!</label>
        <input type="text" id="edit-text-input" class="edit-input" name="edit-text-input" maxlength="140">
    </div>
    <div class="form-separator">
        <label id="edit-color-label" class="edit-label">¡Elige un color!</label>
        <input id="edit-color-picker" type="color" value="#1A535C">
    </div>
</form>
<!-- Canvas with old Twitter default size -->
<div id="edit-canvas-container">
    <canvas id="edit-canvas">
    </canvas>
</div>
<div id="edit-footer">
    <a id="edit-download-btn" title="Download Kudos Image">Download Kudos Image</a>
</div>